body {
    margin: 0;
}
.top {
  font-size: 20px;
  background-color: rgb(5, 4, 4);
  font-size: 10px;
  }
.biaoti {
  display: inline;
  padding-left: 100px;
  padding-top: 20px;;
}
.inter {
  color: #2db6e8;
  float: right;
  padding-right: 30px;
}
a:link nav ul li {
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 0px 15px 0px 15px;
}
a:hover nav ul li {
  text-decoration: none;
  color: rgb(51, 50, 50);
}
nav {
  color: white;
  background-color: rgb(5, 4, 4);
}
li {
  display: inline;
}
.shi {
  position: relative;
}
.shipin {
  width: 100%;
  height: 100%;
}
.bo {
  width: 90px;
  height: 90px;
  position: absolute;
  padding-top: 200px;
  padding-left: 500px;
}
.oppo {
  color: aliceblue;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}
.oppa {
  color: aliceblue;
  font-size: 15px;
}
.obb {
  font: inherit;
  margin: 0;
  display: inline-block;
  line-height: 1;
  font-size: 0.8rem;
  background-color: #2db6e8;
  height: 50px;
}
.jour, .dis {
  color: #2d2d2d;
  line-height: 1;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 1em 0 0.25em;
  padding-bottom: 5px;
}
.wake, .start {
  color: #2d2d2d;
  line-height: 1;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 1em 0 0.25em;
}
.cour {
  text-align: center;
  padding-bottom: 30px;
  margin-top: 0;
}
a {
  color: #2db6e8;
  text-decoration: none;
}
.wenzi {
  color: rgb(66, 65, 65);
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}
.tupian {
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-left: 13%;
}
.zi1 {
  position: absolute;
  margin-left: -285px;
  margin-top: 260px;
  color: #fff;
}
.tu1 {
  width: 300px;
  height: 300px;
}

.icon-list {
  list-style: none;
  padding-left: 10px;
  color: #999;
  line-height: 1;
  text-align: center;
}
.icon-list__item {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.o-icon {
  text-align: center;
  display: inline-block;
  padding-left: 80px;
  padding-right: 100px;
  margin-right: 5px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.driv, .weather, .accomm, .trans {
  font-size: 20px;
  color: black;
}
p {
  font-size: 13px;
  color: lightslategrey;
}
.icon-list__item svg { 
  display: inline;
  max-height: 80px;
  max-width: 80px;
}
.o-icon svg {
  display: inline;
  max-height: 80px;
  max-width: 80px;
}
.oo {
  width: 70%;
  height: 25%;
  margin: 32px;
  padding-left: 200px;
}
.tuwenzi {
  position: absolute;
  color: white;
  top: 270px;
  left: 100px;
  font-size: 15px;
}
.ttt {
  text-decoration: underline;
}
.fin {
  background-color: black;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
.bann {
  position: relative;
}
.banner {
  width: 100%;
  height: 100%;
}
.bannar {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50px;
  right: 200px;
}
.pag {
  background-color: black;
}
.pagefoot {
  float: left;
  padding: 40px;
}
.connt {
  list-style-type: none;
  display: inline;
  color: #fff;
}
.item {
  padding-left: 40px;
  padding-top: 10px;
  list-style-type: none;
  display: block;
  font-size: 13px;
  color: lightblue;
}
.ite {
  font-size: 20px;
}
.zi {
  background-color: black;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}
.you {
  display: block;
  height: 30px;
  background-color: rgb(66, 60, 60);
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 80px;
  color: white;
}
.home {
  color: #2db6e8;
  padding-left: 10px;
}